@tailwind base;
@tailwind components;
@tailwind utilities;
@media (min-width: 640px) {
    .menu:has(:hover) :not(:hover) {
        @apply text-slate-200;
        transform: scale(95%);
    }
    .menu * {
        transition: all 120ms ease-in-out;
    }
    .menu :hover {
        transform: scale(105%);
    }
}

body::-webkit-scrollbar {
    display: none;
}